
html,body{
  margin: 0;
  padding: 0;
  line-height: 1.75em;
  font-size: 14px;
  color: #222;
  /*background: #f9f9f9;*/
  transition: all .3s ease;
}

body.blackmode{
  background: #222;
}

/*-----------------*/
/* common style
/*-----------------*/

a{
  color: #222;
  text-decoration: none;
}

.Montserrat{
	font-family: 'Montserrat', sans-serif;
	font-style              : normal;
	font-weight             : 400;
	letter-spacing          : 5px;
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

.fade-init{
    opacity: 0;
    transition: .8s;
}

.fade {
    opacity: 1.0;
}

.upfade-init {
    opacity: 0;
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    transition: .8s;
}


.upfade {
    opacity: 1.0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0)
}



.Lfade-init {
    opacity: 0;
    transform: translate(-20px, 0px);
    -webkit-transform: translate(-20px, 0px);
    transition: .8s;
}

.Lfade {
    opacity: 1.0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0)
}

.L-oblique-init{
  opacity: 0;
  transform: translate(-30px, -30px);
  -webkit-transform: translate(-30px, -30px);
  transition: .8s ease;
}

.L-oblique{
  opacity: 1.0;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
}

.R-oblique-init{
  opacity: 0;
  transform: translate(30px, -30px);
  -webkit-transform: translate(30px, -30px);
  transition: .8s ease;
}

.R-oblique{
  opacity: 1.0;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
}

.displayfade-init {
    opacity: 0;
    top: 150px;
    transition:all .8s ease;
}

.displayfade {
    opacity: 1.0;
    top: 100px;
}

.iphonefade-init {
    opacity: 0;
    left: 50px;
    transition:all .8s ease .2s;
}

.iphonefade {
    opacity: 1.0;
    left: 100px;
}

.macbookfade-init {
    opacity: 0;
    right: -50px;
    transition:all .8s ease .4s;
}

.macbookfade {
    opacity: 1.0;
    right: 0px;
}

.borderani-init{
  height: 0;
  transition: .8s;
}

.borderani{
  height: 50px;
  transition: .8s;
}

/*-----------------*/
/* svg path animation
/*-----------------*/
@-moz-keyframes DASH{
    0%  {stroke-dashoffset:3000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
    87% {stroke-dashoffset:2000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
    100%{stroke-dashoffset:0; fill:rgba(34,34,34,1); stroke-width:0.5;}
}

@-webkit-keyframes DASH{
  0%  {stroke-dashoffset:3000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  87% {stroke-dashoffset:2000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  100%{stroke-dashoffset:0; fill:rgba(34,34,34,1); stroke-width:0.5;}
}

@-o-keyframes DASH{
  0%  {stroke-dashoffset:3000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  87% {stroke-dashoffset:2000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  100%{stroke-dashoffset:0; fill:rgba(34,34,34,1); stroke-width:0.5;}
}

@-ms-keyframes DASH{
  0%  {stroke-dashoffset:3000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  87% {stroke-dashoffset:2000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  100%{stroke-dashoffset:0; fill:rgba(34,34,34,1); stroke-width:0.5;}
}

@keyframes DASH{
  0%  {stroke-dashoffset:3000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  87% {stroke-dashoffset:2000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  100%{stroke-dashoffset:0; fill:rgba(34,34,34,1); stroke-width:0.5;}
}

.path{
	 display:block;
    stroke:#222;
    fill:rgba(34,34,34,0.0);
    stroke-width:0.5;
    stroke-dasharray: 3000;
    stroke-dashoffset:3000;
    -moz-animation:DASH 2.6s ease-in forwards;
    -webkit-animation:DASH 2.6s ease-in forwards;
    -ms-animation:DASH 2.6s ease-in forwards;
	   -o-animation:DASH 2.6s ease-in forwards;
    animation:DASH 2.6s ease-in forwards;
}

@-moz-keyframes over_DASH{
    0%  {stroke-dashoffset:3000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
    87% {stroke-dashoffset:2000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
    100%{stroke-dashoffset:0; fill:rgba(34,34,34,1); stroke-width:0.5;}
}

@-webkit-keyframes over_DASH{
  0%  {stroke-dashoffset:3000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  87% {stroke-dashoffset:2000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  100%{stroke-dashoffset:0; fill:rgba(34,34,34,1); stroke-width:0.5;}
}

@-o-keyframes over_DASH{
  0%  {stroke-dashoffset:3000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  87% {stroke-dashoffset:2000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  100%{stroke-dashoffset:0; fill:rgba(34,34,34,1); stroke-width:0.5;}
}

@-ms-keyframes over_DASH{
  0%  {stroke-dashoffset:3000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  87% {stroke-dashoffset:2000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  100%{stroke-dashoffset:0; fill:rgba(34,34,34,1); stroke-width:0.5;}
}

@keyframes over_DASH{
  0%  {stroke-dashoffset:3000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  87% {stroke-dashoffset:2000; fill:rgba(34,34,34,0.0); stroke-width:0.5;}
  100%{stroke-dashoffset:0; fill:rgba(34,34,34,1); stroke-width:0.5;}
}

.path_over{
    display:block;
    stroke:#fff;
    fill:rgba(255,255,255,1);
    stroke-width:0.5;
    stroke-dasharray: 3000;
    stroke-dashoffset:0;
    /*-moz-animation:over_DASH 2.6s ease-in forwards;
    -webkit-animation:over_DASH 2.6s ease-in forwards;
    -ms-animation:over_DASH 2.6s ease-in forwards;
	   -o-animation:over_DASH 2.6s ease-in forwards;
    animation:over_DASH 2.6s ease-in forwards;*/
}


/*-----------------*/
/* loading
/*-----------------*/
#loading_overray{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  z-index: 9;
}

#loading_overray .bg{
  position: fixed;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  background: #fff;
  z-index: 10;
}
#load {
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:50%;
  margin-top: -18px;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  /*font-family:Helvetica, Arial, sans-serif;*/
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#fff;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
	35% {
		left: 41%;
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-moz-transform:rotate(-180deg);
		-webkit-transform:rotate(-180deg);
		-o-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-moz-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-moz-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-webkit-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-webkit-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-o-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-o-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}


/***************************************************************/
/* PC
***************************************************************/

/*-----------------*/
/* home
/*-----------------*/
#header{
  text-align: center;
}

#header h1{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0px;
  box-sizing: border-box;
}

#header h1 svg ,
#header_in h1 svg{
  width: 100%;
  opacity: 0;
}

h2{
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}

.category-ttl{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 40px;
  border-top: 1px solid #eee;
}

.works_contents{
  width: 100%;
  background: #f9f9f9;
  padding: 100px 0 75px 0px;
  position: relative;
  transition: all .3s ease;
}

.works_contents.blackmode{
  background: #222;
}

.works_contents h2{
  margin-bottom: 60px;
}

.border_line{
  display: block;
  position: absolute;
  left:50%;
  margin-left: -1px;
  top: -25px;
  margin: 0 auto;
  content: "";
  /*height: 50px;*/
  width: 2px;
  background-color: #666;
}

.works_contents .contents_wrapper{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.works_contents .inner{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 10px auto;
  box-sizing: border-box;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
}


.works_contents .inner .item{
  background: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 20px;
  margin: 25px 0px;
  width: 30%;
  height: 200px;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
  opacity: 0;
}

.works_contents .inner .item:hover{
  box-shadow: 0 10px 18px rgba(0,0,0,.12);
}

.works_contents .inner:after{
  content:"";
  display: block;
  width: 30%;
}

.about_contents{
  text-align: center;
  padding: 100px 40px;
}

.about_contents .en{
  font-size: 20px;
  margin-bottom: 20px;
}


.about_contents .readtxt{
  width: 700px;
  text-align: left;
  line-height: 2em;
  margin: 0 auto;
}

.pagetop{
  border-top: 1px solid #eee;
  padding: 20px 0;
  text-align: center;
  transition: all 0.3s ease;
}

.pagetop .arrow{
  display: block;
  width: 25px;
  height: 25px;
  margin: 10px auto 0 auto;
  border-top: 2px solid #222;
  border-right: 2px solid #222;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}

.pagetop:hover .arrow{
  border-top: 2px solid #666;
  border-right: 2px solid #666;
}

/*-----------------*/
/* works
/*-----------------*/

#header_in{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 70px 0px;
  box-sizing: border-box;
}

.works_archives{
  position: relative;
}

.works_archives .in_wrap{
  width: 1000px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
}

.works_archives .works_logo{
  width: 100%;
  /*background: #f9f9f9;*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.works_archives .works_desc{
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.works_archives .works_desc .in_wrap{
  padding: 70px 0;
}

.works_archives .works_desc h2{
  text-align: left;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6em;
}

.works_archives .works_desc .note p{
  margin-bottom: 10px;
}

.works_archives .works_desc .note p:last-child{
  margin-bottom: 0px;
}

.works_archives .works_desc .in_wrap p{
  margin-bottom: 10px;
}

.works_archives .works_view{
  padding-bottom: 100px;
}

.works_archives .works_view .device_section{
  width: 1000px;
  height: 560px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 100px 0;
}

.works_archives .works_view .device_section.col1{
  height: auto;
}

.works_archives .works_view .device_section img{
  position: absolute;
}
.works_archives .works_view .device_section .display{
  z-index: 0;
  left: 50%;
  margin-left: -305.5px;
}

.works_archives .works_view .device_section .display.col1{
  z-index: 0;
  left: 0%;
  margin-left: 0px;
}

.works_archives .works_view .device_section.col1 img{
  position: relative!important;
}

.works_archives .works_view .device_section .iphone{
  z-index: 1;
  /*left: 100px;*/
  bottom: 100px;
}

.works_archives .works_view .device_section .macbook{
  z-index: 1;
  /*right: 0px;*/
  bottom: 60px;
}

.works_archives .works_view .screen{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /*border-top: 1px solid #eee;*/
}

.works_archives .works_view .screen .flex_layout{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.works_archives .works_view .screen .flex_layout .item{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  width: 48%;
  border: 1px solid #eee;
  margin-bottom: 40px;
}

.works_archives .works_view .screen .flex_layout .item.col1{
  width: 100%;
}

.works_archives .works_view .screen .flex_layout .item img{
  width: 100%;
  vertical-align: top;
}
.works_archives .works_view .screen .item.img-list{
  margin-bottom: 50px;
}
.works_archives .works_view .screen .item.img-list img{
  display: inline-block;
  margin-bottom: 20px;
}

.link_btn{
  width: 240px;
  height: 40px;
  line-height: 40px;
  display: block;
  border: 1px solid #222;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  text-align: center;
  overflow: hidden;
  font-size: 12px;
  position: relative;
  margin: 0 auto;
}

.viewsite_btn{
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 70px;
}

.link_btn:hover{
  color: #fff!important;
}

.link_btn span{
  display: block;
  position: relative;
  z-index: 1;
}

.link_btn span.arrow{
  padding-left: 10px;
}

.link_btn span.arrow:after{
  content: '';
   display: block;
   width: 6px;
   height: 6px;
   border-top: 2px solid #222;
   border-right: 2px solid #222;
   -webkit-transform: rotate(-135deg);
   transform: rotate(-135deg);
   transition: all 0.3s ease;
   position: absolute;
   top: 50%;
   left: 15px;
   margin-top: -4px;
   transition: all 0.3s ease;
}

.link_btn:hover span.arrow:after{
  border-color: #fff;
}

.link_btn:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    background-color: #222;
    transition: all 0.3s ease-in-out;
    z-index: 0;
}

.link_btn:hover:after{
    left: 0%;
}



/***************************************************************/
/* mobile
***************************************************************/

@media screen and (max-width:1000px) {

  .border_line{
    display: block;
    position: absolute;
    left:50%;
    margin-left: -1px;
    top: -25px;
    margin: 0 auto;
    content: "";
    width: 2px;
    background-color: #555;
  }

  .viewsite_btn{
    width: 200px;
    position: relative;;
    right: 0;
    bottom: 0;
    margin: 50px auto 0 auto;;
  }


  /*-----------------*/
  /* home
  /*-----------------*/

  #header h1{
    padding: 60px 30px;
  }

  h2{
    font-size: 16px;
    margin-bottom: 20px;
  }

  .works_contents{
    padding: 60px 0;
  }

  .works_contents h2{
    margin-bottom: 10px;
  }

  .about_contents{
    padding: 60px 30px;
  }

  .works_contents .inner{
    padding: 0px 20px;
  }

  .works_contents .inner .item{
    margin: 10px 0px;
  }
  .works_contents .inner .item img{
    width: 100%;
  }

  .about_contents .en{
    font-size: 15px;
    margin-bottom: 20px;
  }

  .pagetop{
    border-top: 1px solid #eee;
    padding: 15px 0;
    text-align: center;
    transition: all 0.3s ease;
  }

  .pagetop .arrow{
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px auto 0 auto;
  }

  /*-----------------*/
  /* works
  /*-----------------*/
  #header_in{
    width: 100%;
    margin: 0 auto;
    padding: 60px 30px;
    box-sizing: border-box;
  }

  .works_archives .works_logo{
    width: 100%;
    /*background: #f9f9f9;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    box-sizing: border-box;
    text-align: center;
    /*padding: 0px 100px;*/
  }

  .works_archives .works_desc .in_wrap{
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    position: relative;
    box-sizing: border-box;
  }

  .works_archives .works_view .device_section{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 50px 20px;
    box-sizing: border-box;
  }
  .works_archives .works_view{
    padding-bottom: 50px;
  }
  .works_archives .works_view .device_section img{
    position: relative;
    width: 100%;
  }

  .works_archives .works_view .device_section .display{
    z-index: 0;
    left: 0;
    margin-left: 0px;
    top: 0;
    margin-bottom: 20px;
    width: 90%;
  }
  .works_archives .works_view .device_section .iphone{
    z-index: 0;
    left: 0px;
    bottom: 0;
    margin-bottom: 20px;
    width: 40%;
    box-sizing: border-box;
  }

  .works_archives .works_view .device_section .macbook{
    z-index: 0;
    right: 0px;
    bottom: 0;
  }

  .works_archives .in_wrap{
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    position: relative;
    box-sizing: border-box;
  }

  .works_archives .works_view .screen img{
    width: 100%;
  }

  .works_archives .works_view .screen .flex_layout .item{
    margin-bottom: 30px;
  }

}
video{
  width: 100%;
}


@media screen and (max-width:768px) {

  video{
    width: 100%;
  }

  .works_archives .works_logo img{
    width: 40%;
  }
  .about_contents .readtxt{
    width: 100%;
  }

  .works_contents .inner .item{
    width: 48%;
    height: 150px;
    text-align: center;
  }

  .works_contents .inner .item img{
    width: 50%;
  }

}

@media screen and (max-width:650px) {
  .works_contents .inner .item img{
    width: 60%;
  }
}

@media screen and (max-width:480px) {
  .works_contents .inner .item img{
    width: 90%;
  }

}
