@charset "UTF-8";

/*****************************************/
/* common style
/*****************************************/
*{
	box-sizing:border-box;
}
html,body{
	width:100%;
	height:100%;
	color:#ffffff;
	background-color:#141414;
	line-height:1.6em;
}

a{
	color:#ffffff;
	text-decoration:none;
}

a:visited{
	color:#ffffff;
	text-decoration:none;
}

a:hover{
	color:#ffffff;
	text-decoration:none;
}

a:active{
	color:#ffffff;
	text-decoration:none;
}



.section_ttl{
	text-align:center;
	margin-bottom:30px;
}

.section_ttl .border{
	width:90px;
	height:2px;
	display:block;
	background-color:#18d6ff;
	margin:0 auto 30px auto;
}

.section_contents{
	padding:50px 0px;	
}

.section_contents .inner{
	padding:0px 15px;
}

.flt_l{float:left;}

.flt_r{float:right;}

.txt_ac{ text-align:center;}
.txt_al{ text-align:left;}
.txt_ar{ text-align:right;}


/*****************************************/
/* header 
/*****************************************/
#header{
	width:100%;
	background-color:#000000;
	position:fixed;
	top:-56px;
	z-index:20;
	overflow:hidden;	
}

#header.contents_header{
	width:100%;
	background-color:#000000;
	position:fixed;
	top:0px;
	z-index:20;
	overflow:hidden;	
}

#header .header_logo{
	display:inline-block;
	float:left;
	padding:7px;
}

#header .menu_ico{
	float:right;
	display:inline-block;
	padding:15px 10px;
}

#header .menu_wrapper{
	display:none;
}

#header .menu_wrapper .menu_list{
	padding-top:5px;
}

#header .menu_wrapper .menu_list li:first-child{
	border-top:1px solid #222;
}
#header .menu_wrapper .menu_list li a{
	display:block;
	border-bottom:1px solid #222;
	text-align:center;
	font-size:18px;
	line-height:3em;
}

#header .menu_wrapper .close_btn{
	width:100px;
	padding:3px;
	font-weight:bold;
	background:#18d6ff;
	text-align:center;
	margin:15px auto 15px auto;
	-webkit-border-radius:2px;
	-moz-border-radius:2xp;
	-ms-border-radius:2xp;
	-o-border-radius:2xp;
	border-radius:2px;
}

/*****************************************/
/* mainimg erea 
/*****************************************/

.mainimg_erea{
	width:100%;
	height:350px;
	overflow:hidden;
	position:relative;
	background-size:100%,100%;
	background-repeat:no-repeat;
	background-position:0% 20%;
	background-image:url(../img/sp_mainimg.jpg);
}


.mainimg_erea .svg_box{
	width:100%;
	height:100%;
	position:absolute;
	top:50%;
	margin-top:-15%;
	left:5%;
	z-index:10;
}

.mainimg_erea .svg_box .mainimg_logo img{
	width:200px;
	height:51px
}

.mainimg_erea .svg_box .en_main_ttl img{
	margin-top:10px;
	width:290px;
	height:64px;
}

@media (min-width:460px){
	.mainimg_erea{
		width:100%;
		height:500px;
	}
	
	.mainimg_erea .svg_box{
		margin-top:-70px;
		background-position:0% 30%;
	}
	
	
	.mainimg_erea .svg_box .en_main_ttl img{
		margin-top:15px;
		width:400px;
		height:88px;
	}

	
}


/*****************************************/
/* news_erea 
/*****************************************/
.news_erea{
	width:100%;
	background:#000;
}


.news_erea .news_bar{
	height:41px;
}

.news_erea .news_bar .news_ttl{
	float:left;
	line-height:41px;
	padding:0px 15px;
}

.news_erea .news_bar .news_link{
	float:right;
	line-height:41px;
	padding:0px 15px;
}

.news_erea .news_link img{
	width:40px;
	vertical-align:middle !important;
}

.news_erea .news_ttl img{
	width:40px;
	vertical-align:middle !important;
}

.news_erea .news_txt{
	width:100%;
	border-top:1px solid #222;
	height:41px;
	line-height:41px;
	padding:0 15px;
	overflow:hidden; 
}


/*****************************************/
/* godj erea 
/*****************************************/
.godj_erea{
	width:100%;
	background:#fff;
	padding:50px 20px;
	text-align:center;
}

.godj_erea .godj_logo img{
	width:50%;
	margin-bottom:20px;
}

.godj_erea .godj_product{
	text-align:center;
}

.godj_erea .godj_product img{
	width:100%;
}

.godj_erea .godj_txt img{
	width:90%;
	margin:20px 0px;
}

.godj_erea .godj_linkbtn{
	text-align:center;
	width:250px;
	margin:0 auto;
	font-weight:bold;
	padding:15px;
	font-size:20px;
	color:#fff;
	background:#e51937;
}

/*****************************************/
/* service_erea 
/*****************************************/
#service h3{
	font-size:18px;
	text-align:center;
	line-height:1.6em;
	margin-bottom:35px;
	padding:0 15px;
}

.service_list li:first-child{
	border-top:1px solid #222;
	border-bottom:1px solid #222;
}

.service_list li{
	border-bottom:1px solid #222;
}


.service_list li h4{
	width:100%;
	padding:20px 10px;
	font-size:105%;
	font-weight:bold;
	color:#18d6ff;
	position:relative;
}

.service_list li h4 .ttl{
	display:block;
	width:94%;
}

.service_list li h4 .plus_ico{
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-10px;
	display:block;
	background-image:url(../img/toggle_ico.svg);
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:20px;
	height:20px;
	overflow:hidden;
}

.service_list .service_desc{
	padding:0px 15px 15px 15px;
	display:none;
}

.service_list .service_desc p{
	margin-bottom:15px;
}


/*****************************************/
/* company_erea 
/*****************************************/
#company{
	background:#1a1a1a;
}

#company table {
	width:100%;
}

#company table td{
	padding:5px 0px;
}
#company table .cap{
	width:30%;
}

#company .map_btn{
	width:250px;
	margin:20px auto;
	padding:15px;
	background:#18d6ff url(../img/google_pin.svg) no-repeat 200px center;
	background-size:20px,20px;
	color:#000;
	font-size:20px;
	text-align:center;
}

#company .map_btn a{
	color:#000;
}

#company .map_btn a:hover{
	color:#000;
}

/*****************************************/
/* contact_erea 
/*****************************************/
#contact .contact_info{
	text-align:center;
	padding:0 30px;
}

#contact .contact_info .ttl{
	padding:15px;
	background:#444444;
}

#contact .contact_info .info_list{
	padding:15px;
	background:#333333;
	font-size:16px;	
}

#contact .contact_info .info_list p{
	padding:10px 0px;
}


/*****************************************/
/* news.html 
/*****************************************/

#contents_wrapper{
	padding:100px 10px 50px 10px;
}

@media (min-width:1024px){
	#contents_wrapper{
		width:980px;
		padding:100px 0px 50px 0px;
		margin:0 auto;
	}	
}

.news_list ul li{
	padding:10px;
}

.news_list ul li:nth-child(odd){
	background-color:#222222;
}

.news_list ul li:nth-child(even){
	background-color:#2f2f2f;
}

.news_list dl:after{
	content: "";
  	clear: both;
  	display: block;
}

.news_list dl dt{
	word-break: break-all;
	display:table-cell;
	width:90px;
	font-size:12px;
}

.news_list dl dd{
	display:table-cell;
}

.moreinfo_Btn{
	width:100%;
	height:38px;
	margin-top:50px;
	border:1px solid #333333;
	cursor:pointer;
	background:#000000 url(../img/moreinfo.gif) no-repeat center center;
}

.back_Btn{
	width:100%;
	height:38px;
	margin-top:50px;
	border:1px solid #333333;
	cursor:pointer;
	background:#000000 url(../img/back_btn.gif) no-repeat center center;
}

.news_detail{
	margin-top:50px;
	background:#222222;
	padding:10px;
}

@media (min-width:1024px){
	.news_detail{
	padding:40px;
}
}

.news_detail h3{
	font-size:20px;
	padding:15px;
	border-bottom:1px solid #18d6ff;
}



.news_detail .inner p{
	margin-bottom:20px;
}

.news_detail .inner{
	padding:20px 5px;
}


@media (min-width:1024px){
	.news_detail .inner{
		padding:20px;
	}	
}




/*****************************************/
/* pagetopBtn 
/*****************************************/
#pagetopBtn a{
	display:block;
	width:100%;
	height:50px;
	cursor:pointer;
	background:#333333 url(../img/pagetop.png) no-repeat center center;
}

/*****************************************/
/* footer 
/*****************************************/
#footer{
	width:100%;
	padding:20px 0px;
}

#footer p.copyright{
	text-align:center;
	font-size:12px;
}








