@charset "Shift_JIS";

/* ===================================================================
CSS information

 file name  :  pritn.css
 style info :  印刷用css
=================================================================== */



.popup_content_wrapper .btn{
	display:none;
}

.moz-hack-imginfo , x:-moz-any-link{
	display			: table-cell;
	width:220px;
	float:none;
}

.moz-hack-layout , x:-moz-any-link{
	display			: table-cell;
	width:360px;
	float:none;
}

.moz-hack-caption , x:-moz-any-link{
	display			: table-cell;
	width			: 411px;
	float:none;
	display:block;
	margin-top:10px;
}

*{
	padding:0px;
	margin:0px;
}

html{
	width:100%;
	height:100%;
}

*+html:first-child body { /* for Opera */
	width : 100%;
	height:100%;
}

body { /zoom: 65%; }
/** { zoom: 6.5; }
*/

head+body {
    width: 165mm;
    max-width: 100%;
    min-width: 70%;
    margin: 0;
	}

.plan_box li{
	width:290px;
	float:left;
	padding:10px;
	background-color:#fff;
	display:inline;
}
.plan_box .center{
	margin:0 10px;
	display:inline;
}

