/**********************************************************************/
/* pc common light
/**********************************************************************/
html{
    font-size: 62.5%; /*ベースを10pxにしています*/
}

body{
    background-color: #eeeeee;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    font-size: 1.0rem; /*10px*/
    transition: all 0.5s ease;
}


a{
    color: #333;
    text-decoration: none;
}
a:hover{
    color: #333
}
a:active{
    color: #333;
}
a:visited{
    color: #333;
}
.Montserrat{
	font-family: 'Montserrat', sans-serif;
	font-style              : normal;
	font-weight             : 400;
	letter-spacing          : 1px;
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
}
.wf-notosansjapanese { font-family: "Noto Sans JP"; }


/*-----------------*/
/* loading
/*-----------------*/
#loading_overray{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 10;
    font-size: 1.4rem;
  }
  
  #loading_overray .bg{
    position: fixed;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #eee;
    z-index: 10;
  }
  #load {
    position:absolute;
    width:600px;
    height:36px;
    left:50%;
    top:50%;
    margin-top: -18px;
    margin-left:-300px;
    overflow:visible;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    
  }
  
  #load div {
    color: #333;
    position:absolute;
    width:20px;
    height:36px;
    opacity:0;
    /*font-family:Helvetica, Arial, sans-serif;*/
    animation:move 2s linear infinite;
    -o-animation:move 2s linear infinite;
    -moz-animation:move 2s linear infinite;
    -webkit-animation:move 2s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
  }
  
  #load div:nth-child(2) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
  }
  #load div:nth-child(3) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
  }
  #load div:nth-child(4) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
  }
  #load div:nth-child(5) {
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
  }
  #load div:nth-child(6) {
    animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
  }
  #load div:nth-child(7) {
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
  }
  
  @keyframes move {
    0% {
      left:0;
      opacity:0;
    }
      35% {
          left: 41%;
          -moz-transform:rotate(0deg);
          -webkit-transform:rotate(0deg);
          -o-transform:rotate(0deg);
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          left:59%;
          -moz-transform:rotate(0deg);
          -webkit-transform:rotate(0deg);
          -o-transform:rotate(0deg);
          transform:rotate(0deg);
          opacity:1;
      }
      100% {
          left:100%;
          -moz-transform:rotate(-180deg);
          -webkit-transform:rotate(-180deg);
          -o-transform:rotate(-180deg);
          transform:rotate(-180deg);
          opacity:0;
      }
  }
  
  @-moz-keyframes move {
      0% {
          left:0;
          opacity:0;
      }
      35% {
          left:41%;
          -moz-transform:rotate(0deg);
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          left:59%;
          -moz-transform:rotate(0deg);
          transform:rotate(0deg);
          opacity:1;
      }
      100% {
          left:100%;
          -moz-transform:rotate(-180deg);
          transform:rotate(-180deg);
          opacity:0;
      }
  }
  
  @-webkit-keyframes move {
      0% {
          left:0;
          opacity:0;
      }
      35% {
          left:41%;
          -webkit-transform:rotate(0deg);
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          left:59%;
          -webkit-transform:rotate(0deg);
          transform:rotate(0deg);
          opacity:1;
      }
      100% {
          left:100%;
          -webkit-transform:rotate(-180deg);
          transform:rotate(-180deg);
          opacity:0;
      }
  }
  
  @-o-keyframes move {
      0% {
          left:0;
          opacity:0;
      }
      35% {
          left:41%;
          -o-transform:rotate(0deg);
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          left:59%;
          -o-transform:rotate(0deg);
          transform:rotate(0deg);
          opacity:1;
      }
      100% {
          left:100%;
          -o-transform:rotate(-180deg);
          transform:rotate(-180deg);
          opacity:0;
      }
  }
  
//--------------------------
// .toggleSwitch
//--------------------------

.toggleSwitch{
    display: block;
    position: relative;
    width: 80px;
    height: 24px;
    margin:0px auto 0;
    padding: 0px 0px 0px 0px;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    outline: none;
    border: none;
    z-index: 1;
    cursor: pointer;
    span{
        display: block;
        padding: 0px;
    }
    span.labeltxt{
        width: 80px;
        height: 24px;
        background: #ffffff;
        border-radius: 14px;
        border: 1px solid #ccc;
        position: relative;
        transition: all 0.3s cubic-bezier(0.37, 0.04, 0.54, 0.98);;         
    }
    
    span.labeltxt:after ,
    span.labeltxt:before {
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all 0.3s cubic-bezier(0.37, 0.04, 0.54, 0.98);
    }

    span.labeltxt:before{
        opacity: 1;
        content: "light";
        left: 3rem;
    }
    span.labeltxt:after{
        opacity: 0;
        content: "dark";
        left: 2rem;
    }

    span.handle{
        position: absolute;
        background: #fff;
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 14px;
        border: 1px solid #ccc;
        top: 0px;
        left: 0px;
        z-index: 2;
        transition: all 0.3s cubic-bezier(0.37, 0.04, 0.54, 0.98);;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        &:after{
            position: absolute;
            display: block;
            content: "";
            background-color: var(--toggleSwitch_ico_lightColor);
            box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_lightColor),4px 0px 0 0 var(--toggleSwitch_ico_lightColor),8px 0px 0 0 var(--toggleSwitch_ico_lightColor),2px 2px 0 0 var(--toggleSwitch_ico_lightColor),6px 2px 0 0 var(--toggleSwitch_ico_lightColor),0px 4px 0 0 var(--toggleSwitch_ico_lightColor),4px 4px 0 0 var(--toggleSwitch_ico_lightColor),8px 4px 0 0 var(--toggleSwitch_ico_lightColor),2px 6px 0 0 var(--toggleSwitch_ico_lightColor),6px 6px 0 0 var(--toggleSwitch_ico_lightColor),0px 8px 0 0 var(--toggleSwitch_ico_lightColor),4px 8px 0 0 var(--toggleSwitch_ico_lightColor),8px 8px 0 0 var(--toggleSwitch_ico_lightColor),;
            height: 2px;
            width: 2px;
            top: 7px;
            left: 7px;
        }
    }
}


//--------------------------
// jquery isinView class
//--------------------------
.fade-isinView{
    opacity: 0;
    transition: .8s;
}

.fadeItem{
    opacity: 1.0;
}


//--------------------------
// .closeBtn
//--------------------------
.closeBtn{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    outline: 0;
    border: none;
    top: 40px;
    right: 40px;
    z-index: 3;
    cursor: pointer;
    transition: all .3s;
    span{
        position: absolute;
        display: block;
        width: 20px;
        height: 2px;
        background: var(--lightColor);
        border-radius: 2px;
        top: 49%;
        left: 29%;
        transition:all 0.3s ease-in-out;
    }
    span.line01{
        transform:translate(-12px, -12px) rotate(45deg);
    }
    span.line02{
        transition-delay: 0.1s;
        transform:translate(12px, -12px) rotate(-45deg);
    }
    span.line03{
        transition-delay: 0.2s;
        transform:translate(-12px, 12px) rotate(-45deg);
    }
    span.line04{
        transition-delay: 0.3s;
        transform:translate(12px, 12px) rotate(45deg);
    } 
}
.closeBtn:hover{
    span.line01{
        transform:translate(-10px, -10px) rotate(45deg);
    }
    span.line02{
        transform:translate(10px, -10px) rotate(-45deg);
    }
    span.line03{
        transform:translate(-10px, 10px) rotate(-45deg);
    }
    span.line04{
        transform:translate(10px, 10px) rotate(45deg);
    } 
}

//--------------------------
// #responsive-reaction
//--------------------------
.responsive-reaction{
    width: 0;
    height: 0;
    visibility: visible;
    display: block;
}

//--------------------------
// #backTonavi
//--------------------------
#backTonavi{
    display: block;
    position: relative;
    margin-top: -150px;
    a{
        width: 150px;
        height: 150px;
        display: block;
        background: #fff;
        border-radius: $bg_borderRadius;
        position: relative;
        transition: all 0.5s ease;
        span{
            display: block;
            text-align: center;
            font-size: 1.2rem;
            padding-top: calc(150px / 2 + 14px);
        }
        &:hover{
            box-shadow: $btnHoverBoxshadow;
        }
        &:after{
            position: absolute;
            display: block;
            content: "";
            background-color: var(--toggleSwitch_ico_lightColor);
            box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_lightColor),10px 0px 0 0 var(--toggleSwitch_ico_lightColor),20px 0px 0 0 var(--toggleSwitch_ico_lightColor),5px 5px 0 0 var(--toggleSwitch_ico_lightColor),15px 5px 0 0 var(--toggleSwitch_ico_lightColor),0px 10px 0 0 var(--toggleSwitch_ico_lightColor),10px 10px 0 0 var(--toggleSwitch_ico_lightColor),20px 10px 0 0 var(--toggleSwitch_ico_lightColor),5px 15px 0 0 var(--toggleSwitch_ico_lightColor),15px 15px 0 0 var(--toggleSwitch_ico_lightColor),0px 20px 0 0 var(--toggleSwitch_ico_lightColor),10px 20px 0 0 var(--toggleSwitch_ico_lightColor),20px 20px 0 0 var(--toggleSwitch_ico_lightColor),;
            height: 5px;
            width: 5px;
            top: 50%;
            left: 50%;
            margin-left: -12px;
            margin-top: -22px;
            transition: all 1s linear;
        }
        &.is-mouseover:after{
            animation: dotted_over 1s linear forwards;
        }
        &.is-mouseout:after{
            animation: dotted_out 1s linear forwards;
        }
        @keyframes dotted_over{
            0%{
                background-color: var(--toggleSwitch_ico_lightColor);
                box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_lightColor),10px 0px 0 0 var(--toggleSwitch_ico_lightColor),20px 0px 0 0 var(--toggleSwitch_ico_lightColor),5px 5px 0 0 var(--toggleSwitch_ico_lightColor),15px 5px 0 0 var(--toggleSwitch_ico_lightColor),0px 10px 0 0 var(--toggleSwitch_ico_lightColor),10px 10px 0 0 var(--toggleSwitch_ico_lightColor),20px 10px 0 0 var(--toggleSwitch_ico_lightColor),5px 15px 0 0 var(--toggleSwitch_ico_lightColor),15px 15px 0 0 var(--toggleSwitch_ico_lightColor),0px 20px 0 0 var(--toggleSwitch_ico_lightColor),10px 20px 0 0 var(--toggleSwitch_ico_lightColor),20px 20px 0 0 var(--toggleSwitch_ico_lightColor),; 
            }
            20%{
                background-color: var(--toggleSwitch_ico_hoverlightColor);
                box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_lightColor),10px 0px 0 0 var(--toggleSwitch_ico_lightColor),20px 0px 0 0 var(--toggleSwitch_ico_lightColor),5px 5px 0 0 var(--toggleSwitch_ico_lightColor),15px 5px 0 0 var(--toggleSwitch_ico_lightColor),0px 10px 0 0 var(--toggleSwitch_ico_lightColor),10px 10px 0 0 var(--toggleSwitch_ico_lightColor),20px 10px 0 0 var(--toggleSwitch_ico_lightColor),5px 15px 0 0 var(--toggleSwitch_ico_lightColor),15px 15px 0 0 var(--toggleSwitch_ico_lightColor),0px 20px 0 0 var(--toggleSwitch_ico_lightColor),10px 20px 0 0 var(--toggleSwitch_ico_lightColor),20px 20px 0 0 var(--toggleSwitch_ico_lightColor),;
            }
            
            40%{
                box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 0px 0 0 var(--toggleSwitch_ico_lightColor),5px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 5px 0 0 var(--toggleSwitch_ico_lightColor),0px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 10px 0 0 var(--toggleSwitch_ico_lightColor),20px 10px 0 0 var(--toggleSwitch_ico_lightColor),5px 15px 0 0 var(--toggleSwitch_ico_lightColor),15px 15px 0 0 var(--toggleSwitch_ico_lightColor),0px 20px 0 0 var(--toggleSwitch_ico_lightColor),10px 20px 0 0 var(--toggleSwitch_ico_lightColor),20px 20px 0 0 var(--toggleSwitch_ico_lightColor),;
                background: var(--toggleSwitch_ico_hoverlightColor);
            }
            60%{
                box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),5px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),0px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 10px 0 0 var(--toggleSwitch_ico_lightColor),5px 15px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 15px 0 0 var(--toggleSwitch_ico_lightColor),0px 20px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 20px 0 0 var(--toggleSwitch_ico_lightColor),20px 20px 0 0 var(--toggleSwitch_ico_lightColor),;
                background: var(--toggleSwitch_ico_hoverlightColor);
            }
            80%{
                box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),5px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),0px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),5px 15px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 15px 0 0 var(--toggleSwitch_ico_hoverlightColor),0px 20px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 20px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 20px 0 0 var(--toggleSwitch_ico_lightColor),;
                background: var(--toggleSwitch_ico_hoverlightColor);
            }
            100%{
                box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),5px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),0px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),5px 15px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 15px 0 0 var(--toggleSwitch_ico_hoverlightColor),0px 20px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 20px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 20px 0 0 var(--toggleSwitch_ico_hoverlightColor),;
                background: var(--toggleSwitch_ico_hoverlightColor);
            }
        }
        @keyframes dotted_out{         
            0%{
                box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),5px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),0px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),5px 15px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 15px 0 0 var(--toggleSwitch_ico_hoverlightColor),0px 20px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 20px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 20px 0 0 var(--toggleSwitch_ico_hoverlightColor),;
                background: var(--toggleSwitch_ico_hoverlightColor);
            }
            20%{
                box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),5px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),0px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),5px 15px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 15px 0 0 var(--toggleSwitch_ico_hoverlightColor),0px 20px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 20px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 20px 0 0 var(--toggleSwitch_ico_lightColor),;
                background: var(--toggleSwitch_ico_hoverlightColor);
            }
            40%{
                box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),5px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),0px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 10px 0 0 var(--toggleSwitch_ico_lightColor),5px 15px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 15px 0 0 var(--toggleSwitch_ico_lightColor),0px 20px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 20px 0 0 var(--toggleSwitch_ico_lightColor),20px 20px 0 0 var(--toggleSwitch_ico_lightColor),;
                background: var(--toggleSwitch_ico_hoverlightColor);
            }
            60%{
                box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 0px 0 0 var(--toggleSwitch_ico_hoverlightColor),20px 0px 0 0 var(--toggleSwitch_ico_lightColor),5px 5px 0 0 var(--toggleSwitch_ico_hoverlightColor),15px 5px 0 0 var(--toggleSwitch_ico_lightColor),0px 10px 0 0 var(--toggleSwitch_ico_hoverlightColor),10px 10px 0 0 var(--toggleSwitch_ico_lightColor),20px 10px 0 0 var(--toggleSwitch_ico_lightColor),5px 15px 0 0 var(--toggleSwitch_ico_lightColor),15px 15px 0 0 var(--toggleSwitch_ico_lightColor),0px 20px 0 0 var(--toggleSwitch_ico_lightColor),10px 20px 0 0 var(--toggleSwitch_ico_lightColor),20px 20px 0 0 var(--toggleSwitch_ico_lightColor),;
                background: var(--toggleSwitch_ico_hoverlightColor);
            }
            80%{
                background-color: var(--toggleSwitch_ico_hoverlightColor);
                box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_lightColor),10px 0px 0 0 var(--toggleSwitch_ico_lightColor),20px 0px 0 0 var(--toggleSwitch_ico_lightColor),5px 5px 0 0 var(--toggleSwitch_ico_lightColor),15px 5px 0 0 var(--toggleSwitch_ico_lightColor),0px 10px 0 0 var(--toggleSwitch_ico_lightColor),10px 10px 0 0 var(--toggleSwitch_ico_lightColor),20px 10px 0 0 var(--toggleSwitch_ico_lightColor),5px 15px 0 0 var(--toggleSwitch_ico_lightColor),15px 15px 0 0 var(--toggleSwitch_ico_lightColor),0px 20px 0 0 var(--toggleSwitch_ico_lightColor),10px 20px 0 0 var(--toggleSwitch_ico_lightColor),20px 20px 0 0 var(--toggleSwitch_ico_lightColor),;
            }
            100%{
                background-color: var(--toggleSwitch_ico_lightColor);
                box-shadow: 0px 0px 0 0 var(--toggleSwitch_ico_lightColor),10px 0px 0 0 var(--toggleSwitch_ico_lightColor),20px 0px 0 0 var(--toggleSwitch_ico_lightColor),5px 5px 0 0 var(--toggleSwitch_ico_lightColor),15px 5px 0 0 var(--toggleSwitch_ico_lightColor),0px 10px 0 0 var(--toggleSwitch_ico_lightColor),10px 10px 0 0 var(--toggleSwitch_ico_lightColor),20px 10px 0 0 var(--toggleSwitch_ico_lightColor),5px 15px 0 0 var(--toggleSwitch_ico_lightColor),15px 15px 0 0 var(--toggleSwitch_ico_lightColor),0px 20px 0 0 var(--toggleSwitch_ico_lightColor),10px 20px 0 0 var(--toggleSwitch_ico_lightColor),20px 20px 0 0 var(--toggleSwitch_ico_lightColor),; 
            }
        }
    }
}


/**********************************************************************/
/* pc common dark
/**********************************************************************/
body.is-dark{
    background-color: var(--body_darkColor);

    #loading_overray{
        background: #1A1A1A;
        z-index: 10;
        font-size: 1.4rem;
    }
    #loading_overray .bg{
        background: #333;
      }
    #load div {
        color: #fff;
    }
      
    .toggleSwitch{
        span.labeltxt{
            background:var(--darkColor);
            border-radius: 14px;
            border: 1px solid #ffffff;
            position: relative;     
        }
        span.labeltxt:before{
            opacity: 0;
        }
        span.labeltxt:after{
            opacity: 1;
            color: #fff;
            content: "dark";
            margin-right: 1.5rem;
        }
        span.handle{
            left: calc(80px - 24px);
        }
    }
}

/**********************************************************************/
/* sp common
/**********************************************************************/
@media only screen and (max-width:768px){
    .responsive-reaction{
        width: 0;
        height: 0;
        visibility: hidden;
        display: none;
    }
   
    //--------------------------
    // .closeBtn
    //--------------------------
    .closeBtn{       
        top: 20px;
        right: 20px;
    }
    #backTonavi{
        margin-top: 20px;
        a{
            width: 100%;
            height: 100px;
            border-radius: $sp_bg_borderRadius;
            span{
                padding-top: calc(100px / 2 + 14px);
            }
        }
    }
}