/**********************************************************************/
/* pc home
/**********************************************************************/

@keyframes rotateAnimation{
    0%{
         transform:rotate(0deg);
     }
    100%{
        transform:rotate(360deg);
    }
 }


.bgVectorWrap{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: block;
    position: fixed;
    z-index: 1;
}

.bgVector{
    position: absolute;
    width: 800px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1; 
}

.bgVector.box01{
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -400px;
    background-image: url(../images/bgVector.svg);
    animation: rotateAnimation 200s infinite normal; 
 }
 .bgVector.box02{
    top: -10%;
    left: -10%;
    background-image: url(../images/bgVector01.svg);
    animation: rotateAnimation 190s infinite normal; 
 }
 .bgVector.box03{
    top: -10%;
    right: -10%;
    background-image: url(../images/bgVector02.svg);
    animation: rotateAnimation 180s infinite normal; 
 }
 .bgVector.box04{
    bottom: -10%;
    left: -10%;
    background-image: url(../images/bgVector03.svg);
    animation: rotateAnimation 170s infinite normal; 
 }
 .bgVector.box05{
    bottom: -10%;
    right: -10%;
    background-image: url(../images/bgVector04.svg);
    animation: rotateAnimation 160s infinite normal; 
 }



.blurCircle{
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,333333+100&0+0,1+100 */
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(51,51,51,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(51,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(51,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#333333',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    display: block;
    position: fixed;
    top:0;
    z-index: 1;
}
canvas {
    position: fixed;
    top:0;
    z-index: 0;
    background: white;
    background: radial-gradient(#FFF, #DDD);
    background: transparent;
    //background: radial-gradient(hsl(40, 80%, 60%), hsl(0, 50%, 40%));
    //filter: blur(1px) contrast(5);
    //transform: scale(0.1);
    transform-origin: 0 0;
    //border: solid .8em green;
    width: 100%;
    height: 100%;
  }
//--------------------------
// #main
//--------------------------
#main{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0px;
    z-index: 2;
    ul{
        padding:40px 0;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        li{
           opacity: 0;
           width: 184px;
           height: 184px;
           margin-bottom: 20px;
        //    transition: all 0.6s ease-in-out;
           a{
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            transition: all 0.5s ease;
                &:hover{
                    box-shadow: $btnHoverBoxshadow;
                }
            }
        
           img{
            width: 130px;
            }
        }
        li.item{
            display: flex;
            align-items: center;
            justify-content: center; 
        }
        li.item.is-active{
            margin-left: 204px;
            z-index: 3;
        }
        
        li.transparentItem{
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            // border: 1px solid #ccc;
            background: rgba(255, 255, 255, 1);
            box-sizing: border-box;
            border-radius: 20px;
            opacity: 0;
            transition: all 0.2s ease-in;
        }
        li.transparentItem.is-active{
            opacity: 1;
        }
        li.logo{
            a{
                transition: all 0.5s ease;
                background-color:#E2E2E2;
                img{
                    width: 100px;
                }
            }
        }
    }
    
    .aboutme{
        display: block;
        width: 184px;
        height: 40px;
        margin: 0 auto 60px auto;
        background: #fff;
        border-radius: 20px;
        border: 1px solid #ccc;
        font-size: 12px;
        line-height: 40px;
        text-align: center;
    }

}

//--------------------------
// #aboutme_modal
//--------------------------
#aboutme_modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    top:0;
    left:0;
    box-sizing: content-box;
    z-index: 2;
    .in-wrap{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        text-align: center;
        font-size: 1.6rem;
    }
    p{
        width: 700px;
        font-family: "Noto Sans JP";
        line-height: 1.7;
        text-align: left;
        background: transparent;
    }
}

/**********************************************************************/
/* pc home dark
/**********************************************************************/
body.is-dark{
    //--------------------------
    // #aboutme_modal
    //--------------------------
    #aboutme_modal{
        background: rgba(0, 0, 0, 0.95);
        color: #fff;
    }

}


/**********************************************************************/
/* sp home
/**********************************************************************/


@media only screen and (max-width:768px){
    .responsive-reaction{
        width: 0;
        height: 0;
        visibility: hidden;
        display: none;
    }
   
    //--------------------------
    // #main
    //--------------------------
    #main{
        width: 100%;
        margin: 0 auto;
        padding: 20px 0px;
        ul{
            padding: 0 10px;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            li.item{
                box-sizing: border-box;
                width: 46%;
                height: 46%;
                margin: 2%;
                a{
                    border-radius: 10px;
                    width: 100%;
                    height: 20vh;
                    // margin: 2%;
                }
                img{
                    width: 15vh;
                }
            }
            li.transparentItem{
                display: none;
            }
            li.logo{
                width: 100%;
                a{
                    img{
                        width: 13vh;
                    }
                }
            }
        }
        
        .aboutme{
            margin: 40px auto;
        }
    }
    //--------------------------
    // #aboutme_modal
    //--------------------------
    #aboutme_modal{        
        .in-wrap{
            padding: 100px 20px;
        }
        p{
            font-size: 0.9em;
        }
    }
}