
/**********************************************************************/
/* pc home
/**********************************************************************/

//--------------------------
// #main
//--------------------------
#main{
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0px;
    ul{
        padding:40px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        li{
        //    transform: scale(0);
           opacity: 0;
        }
        li.item{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 184px;
            height: 184px;
            transition: all 0.2s ease;
            a{
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
            img{
                width: 130px;
            }
        }
        li.transparentItem{
            display: block;
            background: rgba(255, 255, 255, 0);
            width: 184px;
            height: 184px;
        }
        li.logo{
            a{
                transition: all 0.5s ease;
                background-color:#E2E2E2;
                img{
                    width: 100px;
                }
            }
        }
    }
    
    .aboutme{
        display: block;
        width: 184px;
        height: 40px;
        margin: 0 auto 60px auto;
        background: #fff;
        border-radius: 20px;
        border: 1px solid #ccc;
        font-size: 12px;
        line-height: 40px;
        text-align: center;
    }

}

//--------------------------
// #aboutme_modal
//--------------------------
#aboutme_modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    top:0;
    left:0;
    box-sizing: content-box;
    z-index: 2;
    .in-wrap{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        text-align: center;
        font-size: 1.6rem;
    }
    p{
        font-family: "Noto Sans JP";
        line-height: 1.7;
    }
}

/**********************************************************************/
/* sp home
/**********************************************************************/


@media only screen and (max-width:768px){
    .responsive-reaction{
        width: 0;
        height: 0;
        visibility: hidden;
        display: none;
    }
   
    //--------------------------
    // #main
    //--------------------------
    #main{
        width: 100%;
        margin: 0 auto;
        padding: 20px 0px;
        ul{
            padding: 0 10px;
            margin: 0;
            li.item{
                box-sizing: border-box;
                width: 46%;
                height: 46%;
                margin: 2%;
                a{
                    border-radius: 10px;
                    width: 100%;
                    height: 20vh;
                    // margin: 2%;
                }
                img{
                    width: 15vh;
                }
            }
            li.transparentItem{
                display: none;
            }
            li.logo{
                width: 100%;
                a{
                    img{
                        width: 13vh;
                    }
                }
            }
        }
        
        .aboutme{
            margin: 40px auto;
        }
    }
    //--------------------------
    // #aboutme_modal
    //--------------------------
    #aboutme_modal{        
        .in-wrap{
            padding: 100px 20px;
        }
        p{
            font-size: 0.9em;
        }
    }
}