
//--------------------------
// global 変数
//--------------------------
:root{
    --body_lightColor:#EEEEEE;
    --body_darkColor:#333333;
    --toggleSwitch_ico_lightColor:#999999;
    --logo_column_darkColor:#1A1A1A;
    --column_darkColor:#1A1A1A;
    --darkColor:#1A1A1A;
}

$inWrapRatiowidth:1200;
$bg_borderRadius:20px;
$sectionMarginBottomRatio:calc( 40 / #{$inWrapRatiowidth} * 100%);