
//--------------------------
// global 変数
//--------------------------
:root{
    --body_lightColor:#EEEEEE;
    --body_darkColor:#333333;
    --toggleSwitch_ico_lightColor:#999999;
    --toggleSwitch_ico_hoverlightColor:#333333;
    --lightColor:#888888;
    --logo_column_darkColor:#1A1A1A;
    --column_darkColor:#1A1A1A;
    --darkColor:#1A1A1A;
}

$inWrapRatiowidth:1024;
$sectionMarginBottomRatio:calc( 40 / #{$inWrapRatiowidth} * 100%);

$sp_inWrapRatiowidth:640;
$sp_sectionMarginBottomRatio:calc( 40 / #{$sp_inWrapRatiowidth} * 100%);

$homeItemColumn:5;
$bg_borderRadius:20px;
$sp_bg_borderRadius:10px;
$itemRatioWidth:calc( #{($inWrapRatiowidth / $homeItemColumn)}  / #{$inWrapRatiowidth} * 100%);

$btnHoverBoxshadow: 0 0 20px rgba(0, 0, 0, 0.2);