@charset "UTF-8";

/*****************************************/
/* common style
/*****************************************/
html,body{
	width:100%;
	height:100%;
	color:#ffffff;
	background-color:#141414;
	line-height:1.6em;
}

a{
	color:#ffffff;
	text-decoration:none;
}

a:visited{
	color:#ffffff;
	text-decoration:none;
}

a:hover{
	color:#18d6ff;
	text-decoration:none;
}

a:active{
	color:#ffffff;
	text-decoration:none;
}


.section_ttl{
	text-align:center;
	margin-bottom:50px;
}

.section_inner{
	width:980px;
	padding:100px 0px;
	margin:0 auto;
}

.section_ttl .border{
	width:90px;
	height:2px;
	display:block;
	background-color:#18d6ff;
	margin:0 auto 30px auto;
}

.flt_l{float:left;}

.flt_r{float:right;}

.txt_ac{ text-align:center;}
.txt_al{ text-align:left;}
.txt_ar{ text-align:right;}



/*****************************************/
/* header 
/*****************************************/
@media (max-width:1024px){
	#header{
		display:none;
	}
	#header.index_header{
		display:block;
	}
}

@media (min-width:1024px){
	#header{
		display:block;
	}
}

#header{
	width:100%;
	background-color:#000000;
	min-height:58px;
	position:fixed;
	top:0px;
	z-index:20;
}

#header .inner{
	max-width:980px;
	margin:0 auto;
	overflow:hidden;
}

#header .header_logo{
	float:left;
	padding-top:5px;
}

#header .backBtn{
	float:right;
	padding-top:20px;
}

#header .nav{
	float:right;
}

#header .nav li{
	display:inline-block;
	margin-left:20px;
	line-height:58px;
}


@media (max-width:1024px){
	#header_sp{
		display:block;
	}
}

@media (min-width:1024px){
	#header_sp{
		display:none;
	}
}

#header_sp{
	width:100%;
	background-color:#000000;
	position:fixed;
	top:0px;
	z-index:20;
	overflow:hidden;	
}

#header_sp .header_logo{
	display:inline-block;
	float:left;
	padding:7px;
}

#header_sp .menu_ico{
	float:right;
	display:inline-block;
	padding:15px 10px;
}

#header_sp .menu_wrapper{
	display:none;
}

#header_sp .menu_wrapper .menu_list{
	padding-top:5px;
}

#header_sp .menu_wrapper .menu_list li:first-child{
	border-top:1px solid #222;
}
#header_sp .menu_wrapper .menu_list li a{
	display:block;
	border-bottom:1px solid #222;
	text-align:center;
	font-size:18px;
	line-height:3em;
}

#header_sp .menu_wrapper .menu_list li a:hover,
#header_sp .menu_wrapper .menu_list li a:active,
#header_sp .menu_wrapper .menu_list li a:visited{
	color:#ffffff!important;
}

#header_sp .menu_wrapper .close_btn{
	width:100px;
	padding:3px;
	font-weight:bold;
	background:#18d6ff;
	text-align:center;
	margin:15px auto 15px auto;
	-webkit-border-radius:2px;
	-moz-border-radius:2xp;
	-ms-border-radius:2xp;
	-o-border-radius:2xp;
	border-radius:2px;
}

/*********************************/
/* video contents
/*********************************/
.video_container{
	position:relative;
	width:100%;
	padding-top:56.25%;
	z-index:10;
	overflow:hidden;
}
.video_container .video_src{
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
}

.main_svg_set{
	position:absolute;
	z-index:10;
	top:50%;
	margin-top:-55px;
	left:10%;
}

@media (max-width:1024px){
	.main_svg_set{
		left:5%;
	}
}

.main_logo img{
	width:249px;
	height:64px;
}

.en_main_title img{
	margin-top:10px;
	width:840px;
	height:46px;
}

/*********************************/
/* news_section
/*********************************/

.news_section{
	width:100%;
	height:46px;
	background:#1a1a1a;
	line-height:46px;
	overflow:hidden;
}

.news_section .inner{
	width:980px;
	margin:0 auto;
}

.news_section .inner .news_ttl{
	float:left;
}

.news_section .inner .news_ttl img{
	vertical-align:middle;
}

.news_section .inner .news_txt{
	float:left;
	width:780px;
	padding:0px 0px 0px 20px;
	overflow:hidden;
}

.news_section .inner .news_link{
	float:right;
}

.news_section .inner .news_link img{
	vertical-align:middle;
}

/*********************************/
/* godj_section
/*********************************/
.godj_section{
	width:100%;
	height:370px;
	overflow:hidden;
	background:#fff;
}

.godj_section .inner{
	width:1280px;
	height:370px;
	margin:0 auto;
	position:relative;
}

.godj_section .inner .godj{
	position:absolute;
	right:-130px;
	top:-254px;
}

@media (max-width:1280px){
	.godj_section .inner .godj{
		right:-170px;
		top:-200px;
	}
	
	.godj_section .inner .godj img{
		width:90%;
	}
}

@media (max-width:1024px){
	.godj_section .inner .godj{
		right:-170px;
		top:-150px;
	}
	
	.godj_section .inner .godj img{
		width:80%;
	}
}


.godj_section .inner .godj_logo{
	position:absolute;
	top:221px;
	right:74px;
}

@media (max-width:1280px){
	.godj_section .inner .godj_logo{
		top:221px;
		right:90px;
	}
	.godj_section .inner .godj_logo img{
		width:90%;
	}
}


@media (max-width:1024px){
	.godj_section .inner .godj_logo{
		top:250px;
		right:220px;
	}
	.godj_section .inner .godj_logo img{
		width:70%;
	}
}


.godj_section .inner .godj_txt{
	position:absolute;
	top:113px;
	left:67px;
}

@media (max-width:1280px){
	.godj_section .inner .godj_txt{
		top:113px;
		left:97px;
	}
}

.godj_section .inner .godj_btn{
	position:absolute;
	top:217px;
	left:69px;
}

@media (max-width:1280px){
	.godj_section .inner .godj_btn{
	top:217px;
	left:99px;
	}	
}

/*********************************/
/* service_section
/*********************************/

.service_section{
	width:980px;
	margin:0 auto;
	padding:100px 0px;
}

.readtxt{
	font-size:20px;
	text-align:center;
	line-height:1.6em;
	padding-bottom:50px;
}

.service_col{
	padding:50px 10px;
	overflow:hidden;
	border-top:1px solid #222222;
}

.service_col h3{
	font-size:24px;
	margin-bottom:20px;
	color:#18d6ff;
}

.service_col .txt{
	width:520px;
}

.service_col .txt p{
	margin-bottom:15px;
}

.service_col .ph{
	width:400px;
}

/*********************************/
/* company_section
/*********************************/

.company_section{
	background:#1a1a1a;
}

.company_info{
	width:87%;
	margin:0 auto;
}

.company_info table td{
	padding:10px 0px;
}

.company_info table td.list_ttl{
	width:100px;
}

.access-map {
	margin-top: 0px;
	margin-bottom: 50px;
	width: 100%;
	height: 620px;
}

/*********************************/
/* contact_section
/*********************************/
.contact_section .contact_table{
	margin:0 auto;
}

.contact_section .contact_table td{
	vertical-align:middle;
}

.contact_section .contact_table .ttl{
	background:#444444;
	text-align:center;
	padding:30px 40px;
}

.contact_section .contact_table .tell{
	background:#333333;
	text-align:left;
	padding:30px 60px;
}

.contact_section .contact_table .tell table td{
	padding:5px 0px;
	font-size:16px;
}

.contact_section .contact_table .fs20{
}

/*****************************************/
/* news.html 
/*****************************************/
#contents_wrapper{
	max-width:980px;
	margin:0 auto;
	padding:128px 20px 100px 20px;
}


.news_list{
	margin-top:70px;
}

.news_list ul li{
	padding:10px 20px;
}

.news_list ul li:nth-child(odd){
	background-color:#222222;
}

.news_list ul li:nth-child(even){
	background-color:#2f2f2f;
}

.news_list dl:after{
	content: "";
  	clear: both;
  	display: block;
}

.news_list dl dt{
	word-break: break-all;
	max-width:100px;
	float:left;
	margin-right:20px;
}

.news_list dl dd{
	display:block;
	max-width:830px;
	float:left;
}

@media (max-width: 1024px){

	.news_list dl dt{
		word-break: break-all;
		display:table-cell;
		width:90px;
		font-size:12px;
	}

	.news_list dl dd{
		display:table-cell;
	}

}

.moreinfo_Btn{
	width:100%;
	height:38px;
	margin-top:50px;
	border:1px solid #333333;
	cursor:pointer;
	background:#000000 url(../img/moreinfo.gif) no-repeat center center;
}

.back_Btn{
	width:100%;
	height:38px;
	margin-top:50px;
	border:1px solid #333333;
	cursor:pointer;
	background:#000000 url(../img/back_btn.gif) no-repeat center center;
}

.news_detail{
	margin-top:70px;
	background:#222222;
	padding:40px;
}

.news_detail p{
	word-break: break-all;
}

@media (max-width:1024px){
	.news_detail{
		margin-top:70px;
		background:#222222;
		padding:10px;
	}

	.news_detail img{
		width: 100%;
		height: 100%;
	}	
}

.news_detail h3{
	font-size:20px;
	padding:15px;
	border-bottom:1px solid #18d6ff;
}


.news_detail .inner{
	padding:20px;
}

.news_detail .inner p{
	margin-bottom:20px;
}


@media (max-width:1024px){
	.news_detail .inner{
		padding:10px;
	}
	.news_detail p.date{
		margin-bottom:10px !important;
	}

}

/*****************************************/
/* pagetopBtn 
/*****************************************/
#pagetopBtn a{
	display:block;
	width:100%;
	height:50px;
	cursor:pointer;
	background:#333333 url(../img/pagetop.png) no-repeat center center;
}

/*****************************************/
/* footer 
/*****************************************/
#footer{
	width:100%;
	padding:20px 0px;
}

#footer p.copyright{
	text-align:center;
	font-size:12px;
}




